* {
        margin: 0;
      }
      
    .body-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      } 

      .hero {
        background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.6)), url(coffee-head.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;

      }

      .hero-header {
        text-align: center;
        color: white;
        font-size: 6rem;
      }
