* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTACT FORM */

#contact {
    font-family: 'Heebo', sans-serif;
    clear: both;
    margin: 0 auto;
    padding: 50px 100px;
    max-width: 900px;
    background-color: #e4bc84;
}

#contact form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#contact .form-section {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 8px 0;
}

#contact textarea {
    resize: vertical;
    flex-basis: 75%;
    border-radius: 0 16px 16px 0;
    border: none;
    font-size: 14px;
    padding: 8px;
    font-family: 'Heebo', sans-serif;
}

#contact input {
    flex-basis: 75%;
    border-radius: 0 100px 100px 0;
    outline: none;
    border: none;
    padding: 10px;
}

#contact label {
    flex-basis: 25%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #37251b;
    border-radius: 50px 0 0 50px;
    min-width: 100px;
}

#contact input[type=submit] {
    border-radius: 50px;
    align-self: flex-end;
    margin-top: 10px;
    padding: 15px 80px;
    background-color: #37251b;
    color: white;
    font-size: 16px;
    transition: background-color 0.25s ease;
}

#contact input[type=submit]:hover {
    background-color: #795f50;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #contact {
        padding: 40px 10px;
    }
}


/* Gallery Start */

.gallery {
  border: 2px var(--accent) solid;
  margin: 10px 0;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}

.gallery .gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery-img {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
  border: 2px var(--accent) solid;
}

.gallery img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}

.gallery-hover {
  position: absolute;
  top: -100%;
  left: 0;
  text-align: center;
  background-color: #e4bc8478;
  color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: top .3s;  
}

.gallery-hover p {
  width: 70%;
}

.gallery-img:hover .gallery-hover {
  top: 0;
}

/* Gallery End */

/* FOOTER */

.footer {
  width: 100%;
  padding: 100px 15%;
  background-color: #333;
  color: #fff;
  display: flex;
}

.footer div {
  text-align: center;
}

.footer .footer-newsletter {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.footer .footer-links a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

.footer form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.footer form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer .social-icons {
  margin-top: 30px;
}

.footer .social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
