* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FOOTER */

.footer {
  width: 100%;
  padding: 100px 15%;
  background-color: #333;
  color: #fff;
  display: flex;
}

.footer div {
  text-align: center;
}

.footer .footer-newsletter {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.footer .footer-links a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

.footer form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.footer form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer .social-icons {
  margin-top: 30px;
}

.footer .social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}