* {
    margin: 0;
    box-sizing: border-box;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 15px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
}

footer ul.social {
    list-style: none;
    padding-top: 1rem;
    margin: 0;
    font-size: 1.5rem;
  }
  
footer ul.social li {
    display: inline-block;
    padding-right: 0.8rem;
  }
  
footer ul.social li a {
    color: #757575;
    transition: all 0.2s ease;
  }